

body {
    width: 100vw;
}
.menu {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3em;

    background-color: #fefefe;
}

.container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
}

header {
    /* border: 1px solid red; */
    width: 100%;
    height: 5%;
}

header > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    list-style: none;
}

header > ul > li > a {
    cursor: pointer;

    color: #717171;
    font-weight: 700;

    list-style: none;
    text-decoration: none;
}

#write {
    color: #F53A37;
}

header > ul > li:hover {
    filter: brightness(0.7);
}


main {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
}
.text-side {
    /* border: 1px solid green; */

    width: 55%;
    height: 100%;

    padding: 2em;
}

.top-side {
    /* border: 1px solid red; */
    width: 100%;
}

.top-side > h1 {
    /* border: 1px solid red; */
    font-size: 7.5em;

    text-align: left;

}

.top-side > h2 {
    /* border: 1px solid red; */
    /* margin-left: 0.1em; */
    font-size: 3.3em;
    color: #F53A37;
}

.bottom-side {
    /* border: 1px solid red; */
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* padding: 2.7em; */
}

.bottom-side > h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

.bottom-side > h3 > span {
    font-size: 1.5em;
    line-height: 1.8em;
}

.bottom-side > button {
    font-size: 1.5em;
    line-height: 1.8em;

    width: 30%;

    border: none;
    border-radius: 10px;

    background-color: #C22D2B;
    color: #fefefe;
    text-decoration: none;

    cursor: pointer;
    filter: brightness(1.3);
}

.bottom-side > button > a {
    color: #fefefe;
    text-decoration: none;
}

.bottom-side > button:hover {
    filter: none;
}

.ilustration {
    /* border: 1px solid red; */
    width: 40%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em;
}

.circle {
    width: 100%;
    height: 30em;
    background-color: #F78280;
    border-top: 5px solid #F53A37;
    border-left: 5px solid #F53A37;
    border-radius: 100%;
    overflow: hidden;

    animation: filter-change 10000ms ease-in infinite;
}


.ilustration  > .circle > img{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    transform: scale(1.2);

    animation: moving 5000ms ease-in-out infinite;
}

@keyframes moving {
    0% {
        transform: scale(1.2) rotate(0deg);
    }
    25% {
        transform: scale(1.2) rotate(2deg);
    }
    50% {
        transform: scale(1.5) rotate(-2deg);
    }
    100% {
        transform: scale(1.2) rotate(0.1deg);

    }
}

@keyframes filter-change {
    0% {
        background-color: #F78280;
    }
    50% {
        background-color: #C22D2B;
    }
    100% {
        background-color: #F78280;
    }
}

@media (max-width: 1024px) {
    .text-side {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .ilustration {
        display: none;
    }
}
